.app{

    .container{
        .auth{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
        .blood{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .request{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .fixedStyle{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: bisque;
        }
    
    }
    
}